/* FlipCard.css */

.flip-card {
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #333;
    color: white;
  }
  
  .flip-card-back {
    background-color: #ffcc00;
    color: black;
    transform: rotateY(180deg);
  }
  .c-img{
    height: 180px;
    width: 180px;
  }
  .p-card{
    color: rgb(175, 113, 175);
  }
  .l-img{
    width: 40px;
    height: 50px;
  }
 .child-1{
  background-color: rgb(27, 1, 27);
  color: aliceblue;
  border-radius: 30px;
  height: 120px;
 
 }
 .child-1:hover{
  background-color: rgb(145, 119, 145);
  color: black;
 }
  