/* FlipCard.css */

.flip-card {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    border: 5px solid purple;
    
    box-shadow: 2px 4px 8px 8px rgba(220, 243, 138, 0.613); 
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #0e9da5;
    color: rgb(12, 12, 12);
  }
  
  .flip-card-back {
    background-color: #bb9ab1;
    color: black;
    transform: rotateY(180deg);
  }
 
  .c-img{
    height: 180px;
    width: 180px;
  }
  .p-card{
    color: rgb(175, 113, 175);
  }
  .l-img{
    width: 40px;
    height: 50px;
  }
 .child-1{
  background-color: rgb(27, 1, 27);
  color: aliceblue;
  border-radius: 30px;
  height: 120px;
 
 }
 .child-1:hover{
  background:linear-gradient(60deg, rgb(212, 87, 247),#dab6d8);
  color: black
 }
 
 .gradient-text {
  background: linear-gradient(90deg,rgb(155, 2, 155), #fad0c4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
